@using Calendar2.ViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }

        .validation-summary-errors {
            border: 2px dotted #a94442;
            background-color: #d76663;
            border-radius: 8px;
            margin-bottom: 15px;
        }

            .validation-summary-errors ul {
                list-style-type: none;
                padding: 10px;
                color: blanchedalmond;
            }
    </style>

    @using (Html.BeginForm())
    {<div class="m-content">
            <div class="m-portlet m-portlet--head-solid-bg m-portlet--bordered">


                <div class="m-portlet__body">
                    <br />
                    <div class="container">
                        <div class="form-group">

                            <h1 style="text-align:center"> Şifre Değiştir </h1>

                            <hr />
                            <br />
                            <div class="col-sm-6">
                                @Html.ValidationSummary(false)
                            </div>


                            <div class="col-sm-6">
                                <p style="font-weight:normal">Eski Şifre</p>
                                <input type="password" value="" name="mevcutkullanici.password" placeholder="Eski Şifre" autocomplete="off" class="form-control " required />
                            </div>
                            <div class="col-sm-6">
                                <p style="font-weight:normal">Yeni Şifre</p>
                                @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Yeni Şifre", type = "password" })

                            </div>

                            <div class="col-sm-6">
                                <p style="font-weight:normal">Yeni Şifre(Tekrar)</p>
                                @Html.TextBoxFor(model => model.repassword, new { @class = "form-control", placeholder = "Yeni Şifre(Tekrar)", type = "password" })


                            </div>

                        </div>
                        <br />
                        <div class="col-sm-12 center">
                            <button type="submit" class="btn btn-primary" style="text-align:center">Yolla</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    }
</body>